  .selected-fishing-hole,
  .fishing-hole {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 5px 0;
  }
  
  .selected-fishing-hole {
    border: 3px solid #007700;
  }
  
  .fishing-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    margin: 5px 0;
    gap: 10px;
  }
  
  .fishing-hole {
    border: 2px solid #333;
    border-radius: 10px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    border-bottom: black solid 3px;

  }
  
  .comment-form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;

  }
  
  .comment-form button {
    margin-left: 10px;
  }

  .comment-1 {
    border-top: black solid 3px;
    padding-top: 10px;
  }

  .comment-2 {
    padding-top: 10px;
  }